{{yield}}

<div class="center-column arialize">

  <div class="community-column">

    <h4>community</h4>
    <div class="community-section">
      {{#each sortedCommunityCategories as |category|}}
        {{#link-to 'category' category.id class="txt"}}{{category.name}}{{/link-to}}<br>
      {{/each}}
    </div>

    <h4>personals</h4>
    <div class="personals-section">
      {{#each sortedPersonalsCategories as |category|}}
        {{#link-to 'category' category.id class="txt"}}{{category.name}}{{/link-to}}<br>
      {{/each}}
    </div>

    <h4>discussion forums</h4>
    <div class="discussion-forums-section">
      {{#each sortedDiscussionCategories as |category|}}
        {{#link-to 'category' category.id class="txt"}}{{category.name}}{{/link-to}}<br>
      {{/each}}
    </div>
  </div>

  <div class="housing-column">

    <h4>housing</h4>
    <div class="housing-section">
      {{#each sortedHousingCategories as |category|}}
        {{#link-to 'category' category.id class="txt"}}{{category.name}}{{/link-to}}<br>
      {{/each}}
    </div>

    <h4>for sale</h4>
    <div class="for-sale-section">
      {{#each sortedForSaleCategories as |category|}}
        {{#link-to 'category' category.id class="txt"}}{{category.name}}{{/link-to}}<br>
      {{/each}}
    </div>

    <h4>services</h4>
    <div class="services-section">
      {{#each sortedServicesCategories as |category|}}
        {{#link-to 'category' category.id class="txt"}}{{category.name}}{{/link-to}}<br>
      {{/each}}
    </div>
  </div>

  <div class="jobs-column">

    <h4>jobs</h4>
    <div class="jobs-section">
      {{#each sortedJobsCategories as |category|}}
        {{#link-to 'category' category.id class="txt"}}{{category.name}}{{/link-to}}<br>
      {{/each}}
    </div>

    <h4>gigs</h4>
    <div class="gigs-section">
      {{#each sortedGigsCategories as |category|}}
        {{#link-to 'category' category.id class="txt"}}{{category.name}}{{/link-to}}<br>
      {{/each}}
    </div>
  </div>
</div>
