{{yield}}

<div class="center-column arialize">

  <div class="community-column">
      <h4>community</h4>
    <div class="community-section">
      {{#each sortedCommunityCategories as |category|}}
        <span class="txt">{{#link-to 'category' category.id}}{{category.name}}{{/link-to}}</span>
      {{/each}}
    </div>
    <h4>personals</h4>
    {{#each sortedPersonalsCategories as |category|}}
      <span class="txt">{{#link-to 'category' category.id}}{{category.name}}{{/link-to}}</span>
    {{/each}}
  <h4>discussion forums</h4>
    {{#each sortedDiscussionCategories as |category|}}
      <span class="txt">{{#link-to 'category' category.id}}{{category.name}}{{/link-to}}</span>
    {{/each}}
  </div>

  <div class="housing-column">
    <h4>housing</h4>
      {{#each sortedHousingCategories as |category|}}
        <span class="txt">{{#link-to 'category' category.id}}{{category.name}}{{/link-to}}</span>
      {{/each}}
    <h4>for sale</h4>
      {{#each sortedForSaleCategories as |category|}}
        <span class="txt">{{#link-to 'category' category.id}}{{category.name}}{{/link-to}}</span>
      {{/each}}
    <h4>services</h4>
      {{#each sortedServicesCategories as |category|}}
        <span class="txt">{{#link-to 'category' category.id}}{{category.name}}{{/link-to}}</span>
      {{/each}}
  </div>

  <div class="jobs-column">
    <h4>jobs</h4>
    {{#each sortedJobsCategories as |category|}}
      <span class="txt">{{#link-to 'category' category.id}}{{category.name}}{{/link-to}}</span>
    {{/each}}
    <h4>gigs</h4>
    {{#each sortedGigsCategories as |category|}}
      <span class="txt">{{#link-to 'category' category.id}}{{category.name}}{{/link-to}}</span>
    {{/each}}
  </div>
</div>
