{{#if newCategoryForm}}

<form>
  <div class="">
    <label for="name">name</label>
    {{input value=name id="name" placeholder="e.g. web dev"}}
  </div>

  <div>
    <label for="parentCategory">parent category</label>
    {{input value=parentCategory id="parentCategory" placeholder="e.g. jobs"}}
  </div>

  <button  {{action 'saveCategory' category}}>save</button>
  <button {{action 'hideNewCategoryForm'}}>cancel</button>
</form>
{{else}}
<button {{action 'showNewCategoryForm'}}>make a new category</button>
{{/if}}
