{{#if newPostForm}}

<form>
  {{input value=title id="title" placeholder="title"}}
  {{textarea rows="20" value=content id="content" placeholder="post content"}}
  {{input value=image id="image" placeholder="image URL"}}
  <br><button {{action 'savePost' post}}>post</button>
  <button {{action 'hideNewPostForm' post}}>cancel</button>
    </form>
  {{else}}
  <button {{action 'showNewPostForm'}}>make a new post</button>
{{/if}}
